<!--      ++++++++++++++++++++++++  华丽丽的分割线  +++++++++++++++++++++++      -->

<!--      ++++++++++++++++++++++++  华丽丽的分割线  +++++++++++++++++++++++      -->
<!--      ++++++++++++++++++++++++  华丽丽的分割线  +++++++++++++++++++++++      -->


<!--      ++++++++++++++++++++++++  华丽丽的分割线  +++++++++++++++++++++++      -->


<!--      ++++++++++++++++++++++++  html  +++++++++++++++++++++++      -->
<div class="container-fluid bg-white">
    <table ng-table="reportTable" class="table table-hover table-striped" template-pagination="templates/custom-pager.html">
        <tbody>
            <tr data-ng-repeat="item in $data">
                <td data-title="'序号'" data-ng-bind="$index + result.from"></td>
                <td data-title="'报备编号'" data-ng-bind="item.re_code"></td>
                <td data-title="'报备时间'" data-ng-bind="item.created_at"></td>
                <td data-title="'举办人'" data-ng-bind="item.re_username"></td>
                <td data-title="'开始时间'" class="no-wrap" data-ng-bind="item.re_start_time*1000 | date:'yyyy-MM-dd'"></td>
                <td data-title="'结束时间'" class="no-wrap" data-ng-bind="item.re_end_time*1000 | date:'yyyy-MM-dd'"></td>
                <td data-title="'举办原因'" data-ng-bind="item.re_reason"></td>
                <td data-title="'举办地点'" data-ng-bind="item.addr_info"></td>
                <td data-title="'就餐人数'" data-ng-bind="item.re_repast_members"></td>
                <td data-title=" '厨师' " class="no-wrap " data-ng-bind="item.co_username"></td>
                <td data-title=" '操作' ">
                    <a href="#/app/reportDetail?reCode={{item.re_code}} ">查看</a>
                </td>
                <td data-title=" '指导表' ">
                    <span data-ng-bind="item.fillReportCheck==='N' ? '未填' : '已填' " data-ng-class="{ 'text-danger': item.fillReportCheck==='N' } "></span>
                </td>
            </tr>
        </tbody>
        <tfoot data-ng-if="!loading && !$data.length">
            <tr>
                <td colspan="12" class="center">
                    <div class="no-infor " data-ng-bind=" '暂无任何数据' "></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div data-ng-show="loading"><loading></loading></div>
</div>
<!--      ++++++++++++++++++++++++  /html  +++++++++++++++++++++++      -->


<!--      ++++++++++++++++++++++++  华丽丽的分割线  +++++++++++++++++++++++      -->


<!--      ++++++++++++++++++++++++  js  +++++++++++++++++++++++      -->
app.controller('reportListCtrl', ['$scope', 'ReportApi', 'ngTableParams', 'commomApi',
    function($scope, ReportApi, ngTableParams, commomApi) {

        /*     ++++++++++++++++++++++++  start   分页   +++++++++++++++++++++++     */
        $scope.result = {};
        $scope.loading = true;

        $scope.reportTable = new ngTableParams({
            page: 1,
            count: 15
        }, {
            counts: [],
            getData: function($defer, params) {
                setReportList($defer, params);
            }
        });

        //获取报备列表
        function setReportList($defer, pageParams) {
            var params = {
                kw: $scope.keyword,
                start_time: getStartTime($scope.searchTime.startDate),
                end_time: getEndTime($scope.searchTime.endDate),
                page: pageParams.$params.page
            }

            ReportApi.getReportList(params).then(function(data) {
                commomApi.requireSuccess(data, function() {
                    //是否加载中
                    $scope.loading = false;
                    $scope.result = data.result;

                    //渲染列表数据
                    $defer.resolve(data.result.data);
                    //设置条目总数
                    $scope.reportTable.total(data.result.total);
                    //设置每页条目数
                    $scope.reportTable.count(data.result.per_page);
                });
            }, commomApi.requireFail);
        }
        /*     ++++++++++++++++++++++++  end   分页   +++++++++++++++++++++++     */
    }
]);
<!--      ++++++++++++++++++++++++  /js  +++++++++++++++++++++++      -->